*{
    margin:0;
    padding:0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

.main_box{
    background-image: url("background.jpg");
    height:100vh;
    background-size: cover;
}

.btn_one{
    color:rgb(210, 236, 241);
    font-size:30px;
    position:absolute;
    left:17px;
    font-weight: 700;
    line-height:60px;
}

.slidebar_menu{
    position:fixed;
    left:-300px;
    height:100vh;
    width:300px;
    background-color:rgba(0, 0, 0, 0.429);
    box-shadow: 1px 1px 6px black,2px 2px 6px black,3px 3px 6px white;
}

.slidebar_menu .logo{
    position:absolute;
    width:100%;
    line-height:60px;
    box-shadow: 1px 1px 6px black;
    text-align:center;
}

.slidebar_menu .logo a{
    color:rgb(194, 218, 222);
    text-decoration:none;
    font-weight: 500px;
    font-size: 30px;
    line-height:60px;
}

.slidebar_menu .btn_two{
    color:rgb(194, 218, 222);
    font-size:20px;
    position:absolute;
    left:90%;
    font-weight: bold;
    line-height:50px;
    /* opacity:0; */
}

.slidebar_menu .menu{
    position:absolute;
    top:80px;
    width:100%;
}

.slidebar_menu .menu li{
    margin-top:6px;
    padding:14px 20px;

}

.slidebar_menu .menu  i,  a{
    color:rgb(210, 236, 241);
    text-decoration:none;
    font-size:23px;
}

.slidebar_menu .menu  i{
    padding-right:8px;
}

.slidebar_menu .social_media{
    position:absolute;
    left:60px;
    bottom:50px;
}

.slidebar_menu .social_media i{
    padding-right:10px;
    opacity:0.5;
}

#check{
    display:none;
}

.slidebar_menu li:hover{
    box-shadow: 1px 1px 6px black;
}

.btn_two i:hover{
    opacity:1;
    transform:scale(1.1);
}

.btn_one i:hover{
    transform:scale(1.1);
}

.slidebar_menu.social_media:hover ~ i{
    transform:scale(1.1);
    opacity:1;
}

#check:checked ~ .slidebar_menu{
    left:0;
    transition: all 1s linear;
}

#check:checked ~ .btn_one{
    opacity:0;
}